* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contactme-section {
    margin-top: 20px;
    background-image: url(../../assets/images/stars.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contactme-container {
    padding-top: 15px;
}

.aboutme-inner {
    margin: 0 auto;
    text-align: center;
}

.contact-title {
    color: #ffff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    text-align: start;
    margin-top: 30px;
}

.contacto-span {
    color: #5CD2B9;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

.contact-text {
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    color:  rgb(235, 235, 235);
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: start;
    padding-right: 15px;
    line-height: 1.4;
}

@media screen and (min-width: 768px) {
    .contactme-section {
        margin-top: 20px;
    }
    
    .contactme-container {
        padding-left: 15px;
        padding-top: 15px;
    }
    
    .aboutme-inner {
        margin: 0 auto;
        text-align: center;
    }
    
    .contact-title {
        color: #ffff;
        font-family: 'Work Sans', sans-serif;
        font-weight: 600;
        text-align: start;
        margin-top: 30px;

    }
    
    .contacto-span {
        color: #5CD2B9;
        font-family: 'Work Sans', sans-serif;
        font-weight: 600;
    }
    
    .contact-text {
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        color:  rgb(235, 235, 235);
        margin-top: 10px;
        margin-bottom: 15px;
        text-align: start;
        padding-right: 15px;
        line-height: 1.4;
    }
}

@media screen and (min-width: 1024px) {
    .contactme-section {
        margin-top: 20px;
        margin: 0 auto;
        max-width: 1024px;
        
    }
    
    .contactme-container {
        padding-left: 15px;
        padding-top: 15px;
    }
    
    .aboutme-inner {
        margin: 0 auto;
        text-align: center;
    }
    
    .contact-title {
        color: #ffff;
        font-family: 'Work Sans', sans-serif;
        font-weight: 600;
        text-align: start;
        margin-top: 30px;

    }
    
    .contacto-span {
        color: #5CD2B9;
        font-family: 'Work Sans', sans-serif;
        font-weight: 600;
    }
    
    .contact-text {
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        color:  rgb(235, 235, 235);
        margin-top: 10px;
        margin-bottom: 15px;
        text-align: start;
        line-height: 1.4;
    }
}